<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Impact: An integrated toolbox for the analysis of microbial physiology</title>

{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{% static 'apple-icons/apple-touch-icon.png' %}" />
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icons/apple-touch-icon-57x57.png' %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icons/apple-touch-icon-72x72.png' %}" />
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icons/apple-touch-icon-76x76.png' %}" />
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icons/apple-touch-icon-114x114.png' %}" />
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icons/apple-touch-icon-120x120.png' %}" />
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icons/apple-touch-icon-144x144.png' %}" />
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icons/apple-touch-icon-152x152.png' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icons/apple-touch-icon-180x180.png' %}" />

<link rel='stylesheet' href="{% static 'css/bootstrap_simplex.css'%}" type="text/css">
<!-- Latest compiled and minified CSS -->
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
<!-- Optional theme -->
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">#}

<link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/handsontable.full.css'%}">
{#<!-- Latest compiled and minified JavaScript -->#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}


<script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>

<script>
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 3000);
</script>
<script src="{% static 'js/handsontable.full.js' %}"></script>
<script src="{% static 'js/plotly-latest.min.js' %}"></script>


