                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                  </button>
                                  <ul class="dropdown-menu col-xs-12">
                                      {% for row in uniqueIDs.strainID %}
                                            <li><a href="/selectStrains/strainID/{{row}}">{{row}}</a></li>
                                      {% endfor %}
                                  </ul>
                                </div>

                             <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                  </button>
                                  <ul class="dropdown-menu col-xs-12">
                                   {% for row in uniqueIDs.identifier1 %}
                                            <li><a href="/selectStrains/identifier1/{{row}}">{{row}}</a></li>
                                      {% endfor %}
                                  </ul>
                                </div>

                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                  </button>
                                  <ul class="dropdown-menu col-xs-12">
                                   {% for row in uniqueIDs.identifier2 %}
                                            <li><a href="/selectStrains/identifier2/{{row}}">{{row}}</a></li>
                                      {% endfor %}
                                  </ul>
                                </div>