<!DOCTYPE html>
<html lang="en">

<head>
{% include "fDAPI_core/includes/header.html" %}
{% include "fDAPI_core/includes/navbar.html" %}
</head>

<body class="body" style="background-color:#f6f6f6">
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>
    <!--<div class="navbar navbar-fixed-bottom">-->
    <p align="right">fDAPI: Fermentation Data Analysis and Plotting Inventory</p>
    <p align="right">© Naveen Venayak 2016</p>
    <!--</div>-->
</footer>
</html>