<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FermAT: Fermentation Analysis Toolbox</title>

{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon" />

<script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>

<script src="{% static 'js/handsontable.full.js' %}"></script>
<script src="{% static 'js/plotly-latest.min.js' %}"></script>

<link rel='stylesheet' href="{% static 'css/bootstrap.css'%}" type="text/css">
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/handsontable.full.css'%}">