{% load staticfiles %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div><a class="navbar-brand" href="/"><img height="120%" class="image-responsive" alt="Brand" src="{% static 'FermAT_logo.svg' %}"></a></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p class="navbar-text">Fermentation Analysis Toolbox</p>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li {% if mainWindow == 'home' %}class="active"{% endif %}>
            <a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
          </li>
          <li {% if mainWindow == 'input' %} class="active" {% endif %}><a href="/input/">Input&nbsp&nbsp<span class="glyphicon glyphicon-open" aria-hidden="true"></span></a></li>
          <li {% if mainWindow == 'analyze' %} class="active" {% endif %}><a href="/analyze">Inspect&nbsp&nbsp<span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></a></li>
          <li {% if mainWindow == 'plot' %} class="active" {% endif %}><a href="/plot">Plot&nbsp&nbsp<span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a></li>
          <li {% if mainWindow == 'export' %} class="active" {% endif %}><a href="/export">Export&nbsp&nbsp<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a></li>
          <li {% if mainWindow == 'iPython' %} class="active" {% endif %} target="_blank"><a href="http://tmpnb.org">iPython&nbsp&nbsp<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.github.com/nvenayak/FermAT" target="_blank">Source (requires auth)</a></li>
              <li><a href="/static/docs/quickstart.html">Quickstart</a></li>
              <li><a href="/static/docs/index.html">Docs</a></li>
            </ul>
          </li>

          <p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{ user.username }}</a></p>
          &nbsp&nbsp&nbsp&nbsp<a href="/logout?next=/" class="btn btn-default navbar-btn" >Sign out&nbsp&nbsp<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
        {% else %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.github.com/nvenayak/FermAT" target="_blank">Source (requires auth)</a></li>
              <li><a href="/static/docs/quickstart.html" target="_blank">Quickstart</a></li>
              <li><a href="/static/docs/index.html" target="_blank">Docs</a></li>
            </ul>
          </li>
          <p class="navbar-text"><a href="/login?next=/" class="navbar-link">Sign in&nbsp&nbsp<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> </a></p>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>