{% extends "impact_cloud/base.html" %}

{% load bootstrap %}
{% load bootstrap3 %}
{% load staticfiles %}




{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2 centered">
{#    {% if form.errors %}#}
{#      <div class="alert alert-danger" role="alert">#}
{#        <p>Your username and password didn't match. Please try again.</p>#}
{#      </div>#}
{#    {% endif %}#}

    {% if next %}
      <div class="alert alert-danger" role="alert">
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
      </div>
    {% endif %}

{#    <div class="row">#}
{#      <div class="text-center"><img class="image-responsive text-center" width="50%" align="center" src="{% static 'impact_logo.svg' %}"></div> <br>#}
{#    </div>#}

    {#    <h4 class="form-signin-heading">Please sign in or#}
{#      <a href="/registration/createAccount">create an account</a></h4>#}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <!--<table>-->
      <!--<tr>-->
      <!--<td>{{ form.username.label_tag }}</td>-->
      <!--<td>{{ form.username }}</td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td>{{ form.password.label_tag }}</td>-->
      <!--<td>{{ form.password }}</td>-->
      <!--</tr>-->
      <!--</table>-->
      {% bootstrap_form form %}
      <br>
      <button class="btn btn-primary pull-right" type="submit">Sign in</button>

      <!--<input type="submit" value="login" />-->
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    <!--<label for="inputEmail" class="sr-only">Email address</label>-->
    <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
    <!--<label for="inputPassword" class="sr-only">Password</label>-->
    <!--<input type="password" id="id_password" class="form-control" placeholder="Password" required>-->
    <!--<div class="checkbox">-->
    <!--<label>-->
    <!--<input type="checkbox" value="remember-me"> Remember me-->
    <!--</label>-->
    <!--</div>-->
    </form>
  </div>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}

{% block footer %}
{# No footer #}
{% endblock %}