                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                  </button>
                                  <ul class="dropdown-menu col-xs-12">
                                      {% for row in uniqueIDs.strain_id %}
                                            <li><a href="/selectStrains/strain_id/{{row}}">{{row}}</a></li>
                                      {% endfor %}
                                  </ul>
                                </div>

                             <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                  </button>
                                  <ul class="dropdown-menu col-xs-12">
                                   {% for row in uniqueIDs.id_1 %}
                                            <li><a href="/selectStrains/id_1/{{row}}">{{row}}</a></li>
                                      {% endfor %}
                                  </ul>
                                </div>

                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                  </button>
                                  <ul class="dropdown-menu col-xs-12">
                                   {% for row in uniqueIDs.id_2 %}
                                            <li><a href="/selectStrains/id_2/{{row}}">{{row}}</a></li>
                                      {% endfor %}
                                  </ul>
                                </div>