{% extends "FermAT_web/home.html" %}

{% load bootstrap %}

{% block main_window %}
<div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        If the experiment details are not in the database, please detail them here. Then, you will be able to add the data
          for this experiment.
      </div>
    </div>
    <form class="form-horizontal" action="/plot_options/" method="post">
        {% csrf_token %}

        {{ plot_options_form|bootstrap_horizontal }}

        <input class="btn btn-default pull-right" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}}