{% extends "FermAT_web/base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <!--<div class="col-md-8"></div>-->
    <div class="col-md-12">
      <div class="jumbotron">
        <!--<img class="image-responsive pull-right" height="10px" align="center" src="{% static 'FermAT_logo.svg' %}">-->
        <h1>Welcome to FermAT:</h1>
        <h2>The Fermentation Analysis Toolbox

        </h2>


        <h3>
          FermAT is designed to help scientists rapidly parse, analyze, visualize and store fermentation data.
          FermAT is open-source and available on <a href="http://github.com/nvenayak/FermAT">GitHub</a> to promote active development and collaboration.
        </h3>

        <p>
          First login, or ask for an account by email. Then, you can begin inputting data and following the navbar.
        </p>
        {#        <br><br>#}

        {#        <div class="btn-group" role="group" aria-label="...">#}
        {#          <a class="btn btn-default" href="/static/docs/quickstart.html" role="button">Quickstart</a>#}
        {#          <a class="btn btn-default" href="http://github.com/nvenayak/FermAT" role="button">Source</a>#}
        {#          <a class="btn btn-default" href="/static/docs/index.html" role="button">Docs</a>#}
        {#        </div>#}
        {##}
        {##}
        {##}
        {##}
        {#        <div>#}
        {#          {%  if user.is_authenticated %}#}
        {#          {% else %}#}
        {#            <a class="btn btn-primary btn-lg" href="/login.html" role="button">Sign in</a>#}
        {#          {% endif %}#}
        {#        </div>#}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <footer>
    <div class="container">
      <!--<div class="col-md-8"></div>-->
      <div class="row">
        <!--<div class="navbar navbar-fixed-bottom">-->
        <img class="image-responsive pull-right" height="30px" src="{% static 'FermAT_logo.svg' %}">
        <p align="right">FermAT: Fermentation Analysis Toolbox &nbsp&nbsp&nbsp<br> © Naveen Venayak 2016 &nbsp&nbsp&nbsp</p>
      </div>
    </div>
  </footer>
{% endblock %}
