{% extends "impact_cloud/input.html" %}
{% load bootstrap %}
{% load bootstrap3 %}

{% block content %}
    {% include "impact_cloud/includes/input_header.html" %}

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
{#        <div class="panel panel-default">#}
{#            <div class="panel-body">#}
{#                If the experiment details are not in the database, please detail them here. Then, you will be able to add the data#}
{#                for this experiment.#}
{#            </div>#}
{#        </div>#}

        <form class="form-horizontal" action="" method="post">
          {% csrf_token %}
          {%  for field in analysis_options_form %}
            {% bootstrap_field field layout='horizontal' %}
          {% endfor %}

{#          {{ analysis_options_form | bootstrap_horizontal }}#}
          <input type="submit" value="Submit" class="btn btn-default pull-right">
        </form>
    </div>
</div>
{% endblock %}