{% extends 'impact_cloud/input.html' %}

{% block content %}
  {% include "impact_cloud/includes/input_header.html" %}

  <div class="container-fluid">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Experiment:</h3>
          Choose an experiment to add data to <br><br>
          <div class="btn-group btn-group-justified" role = "group">
            <div class="btn-group btn-group-justified" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% for row in exptInfo %}
                  {% if row.experiment_id == experiment_id %} {{row.experiment_id}} - {{row.experiment_title}} {% endif %}
                {% endfor %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu text-center">
                {% for row in exptInfo %}
                  <li><a href="/experimentSelect_input/{{row.experiment_id}}">{{row.experiment_id}} - {{row.experiment_title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default"> {#  #}
        <div class="panel-body">
          <h3>Layout: </h3>
          To import data, please first select your data layout. Some default layouts are provided, these can be relatively easily extended.
          Seee the docs <a href="#">here</a>
          <br><br>
          <div class="dropdown">
            <button class="btn btn-default btn-group-justified dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Please select import layout.
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/select_input_format/default_OD">default_OD</a></li>
              <li><a href="/select_input_format/default_titers">default_titers</a></li>
{#              <li><a href="#">Information on adding layouts..</a></li>#}
            </ul>
          </div>
          <br>

          <h4>Selected Layout: <b>{{ selected_layout }}</b></h4>
        </div>
      </div>


    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="btn-group" role="group" aria-label="...">
          <button name="save" id="save" type="button" class="btn btn-default">Import Data</button>
        </div>
        <div>
          <br>
        </div>
        <div id="parentContainer">
          <div id="example1" class="hot"></div>
        </div>
      </div>
    </div>
    {#  <!-- Button trigger modal -->#}
    {#  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
    {#    Launch demo modal#}
    {#  </button>#}

    <!-- Modal -->
    <div class="modal fade" id="input_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            Processing data....this may take some time
          </div>
          <div class="modal-footer">
            {#          <button type="button" class="btn btn-default" >Close</button>#}
            <a class="btn btn-default" type="button" id="continue_button" class="btn btn-primary" href="#" >Continue..</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    var
            $$ = function(id) {
              return document.getElementById(id);
            },
            container = $$('example1'),
            exampleConsole = $$('example1console'),
            autosave = $$('autosave'),
            load = $$('load'),
            save = $$('save'),
            continue_button = $$('continue_button'),
            input_modal = $('#input_modal'),
            autosaveNotification,
            hot;

    hot = new Handsontable(container, {
      startRows: 5, //301
      startCols: 5,//301
      colHeaders: {{ column_labels|safe }},
      rowHeaders: {{ row_labels|safe }},
      overflow: 'hidden',
    });

    //  Handsontable.Dom.addEvent(load, 'click', function() {
    //    $.ajax('scripts/json/load.json', 'GET', '', function(res) {
    //      var data = JSON.parse(res.response);
    //
    //      hot.loadData(data.data);
    //      exampleConsole.innerText = 'Data loaded';
    //    });
    //  });

    Handsontable.Dom.addEvent(save, 'click', function() {
      // save all cell's data
      {#    var xhr = new XMLHttpRequest();#}
      {##}
      {#    xhr.open("POST", '/input/inputData', true);#}
      {#    xhr.setRequestHeader('Content-Type', 'application/json');#}
      {#    xhr.setRequestHeader('X-CSRF-Token',csrftoken);#}
      {#    xhr.send({data: hot.getData()});#}
      input_modal.modal('toggle');
      input_modal.find('.modal-body').html("Analysis in progress. This may take some time for large datasets.");
      $('#continue_button').attr('disabled', 'disabled')
{#      continue_button.attr('disabled', 'disabled');#}

      $.ajax({
        url: '/input/inputData',
        type: 'POST',
        data: JSON.stringify({data: hot.getData()}),
        success: function(response){
          input_modal.find('.modal-body').html(response.console_output);
          continue_button.href = response.redirect;
          $('#continue_button').removeAttr('disabled');
{#          window.location.href = response.redirect;#}
        }
      });
    });
  </script>
{% endblock %}